<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head') %>

  <body>
    <%- include('../partials/_navbar',{routes}) %>
      <main class="container__gallery">
        <% if (searchTerm){ %>
          <div class="search__message">Showing results for <%= searchTerm %>
          </div>
          <% } %>

            <div class="columns">
              <% for(let idx=0; idx < posts.length; idx++){ %>
                <% const post=posts[idx] %>
                  <div class="column">
                    <article class="card">
                      <section class="card-image">
                        <figure class="image">
                          <img src="<%= post.image %>" alt="Placeholder image" width=250px />
                        </figure>
                      </section>
                      <div class="card-content">
                        <div class="content">
                          <h3>
                            <a href="/gallery/<%= post.id %>">
                              <%= post.title %>
                            </a>
                          </h3>
                          <p>
                            <%= post.description %>
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
                  <% } %>
            </div>
      </main>
  </body>

</html>