<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/show.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head> -->
<link rel="stylesheet" href="/styles/show.css">
</li>
<%- include('../partials/_head') %>

    <body>

        <%- include('../partials/_navbar') %>
            <div class="bigContainer">
                <div class="container1">
                    <img class="poster_show" width=400px src="<%= post.image %>" alt="Placeholder image" />
                    <div class="buttons__container__like">
                        <% if ( typeof user !=='undefined' ) { %>
                            <form action="/likes/<%= post.id %>?_method=PUT" method="POST">

                                <input class="button" type="submit" value="Like" />
                            </form>
                            <% } %>
                                <% if ( typeof user !=='undefined' && post.user._id==user.id) { %>
                                    <div class="buttons">
                                        <a href="/gallery/<%= post.id %>/edit">
                                            <input class="button" type="submit" value="Edit Post" />
                                        </a>
                                    </div>
                                    <form action="/gallery/<%= post.id %>?_method=DELETE" method="POST">
                                        <input class="button" type="submit" value="Delete Post" />
                                    </form>
                                    <% } %>
                    </div>
                </div>

                <div class="container2">
                    <div class="content">
                        <h3>Post</h3>
                        <div> <a href="/users/<%= post.user._id %>"> Username: <%= post.user.username %> </a>
                        </div>
                        <div><span class="red">Post Title:</span>
                            <%= post.title %>
                        </div>
                        <div><span class="red">Description:</span>
                            <%= post.description %>
                        </div>
                        <div><span class="red">Likes:</span>
                            <%= likes.numLikes %>
                        </div>
                        <div><span class="red">Tags:</span>
                            <%= post.tags %>
                        </div>
                    </div>

                    <div class="comments">
                        <h3>Comments</h3>
                        <% comments.forEach(comment=> { %>
                            <div class="comment">

                                <img class="imageSize" src="<%= comment.user.avatar %>" alt="" srcset="">
                                <span class="red">
                                    <%= comment.user.username %>:
                                </span>
                                <%= comment.content %>
                                    <% if ( typeof user !=='undefined' && comment.user._id==user.id) { %>
                                        <form action="../comments/<%=comment.id%>?_method=DELETE" method="POST">
                                            <div>
                                                <button class="button ">Delete Comment</button>
                                            </div>
                                        </form>
                                        <% } %>
                            </div>
                            <% }) %>
                    </div>
                    <div class="comment_form">
                        <form action="../comments" method="POST">
                            <div class="align">

                                <input class="input" type="text" name="content" placeholder="Leave a comment!"
                                    required />
                                <input type="hidden" name="post" value="<%= post._id %>" />

                                <div>
                                    <button class="button ">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
    </body>

</html>